.container{
    display: flex; 
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    width: auto;
    height: 1000px;
    border: 5px solid green;
    align-items: center;
    justify-content: center;
}

.items{
    width: 60px;
    height: 60px;
    background-color: red;
    border: 1px solid black;
    margin: 10px;
    font-size: 20px;
    text-align: center;
}